<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>
<b>Address: </b></br>
<%= I18n.t("company.address1") %> </br>
<%= I18n.t("company.address2") %> </br></br>

<b>via phone: </b> <%= I18n.t("company.phone_num") %> </br>
<b>via e-mail: </b> <%= I18n.t("company.email") %>
