<% provide(:title, 'Employee') %>
<h2>Welcome to the Employee Page</h2>
<p> ***Up Coming Events*** </p>
<p> ***Reminders*** </p>
<p> ***Payslip*** </p>
<p> ***Comments/Suggestions*** </p>
<li><%= link_to "Payslip",    "payslip_path" %></li>
