<footer class="footer">
  <small>
    ABC Inc. Webpage by XYZ Consulting
  </small>
  <nav>
    <ul>
      <li><%= link_to "Administration",   administration_path %></li>
      <li><%= link_to "Employee",    employee_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><a href="http://cnn.com/">News</a></li>
    </ul>
  </nav>
</footer>
